html {
   scroll-behavior: smooth;
}

body {
   margin: 0;
   padding: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.wrapper{
   position: relative;
   /*display: flex;*/

  
   margin: 0 auto;
   max-width: 1024px;
   background-color: #FFF;
}
li {
   list-style-type: none;
   text-decoration: none;
   padding-right: 12px;
}

/*header*/ 
.header{
   display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(143, 214, 143);
}


.menu {
   display: flex;
    justify-content: space-evenly; 
    align-items: center;

}
.nav {
   display: flex;
}
.title {
   max-width: 90%;
}
/*aside*/
.photo {
   width: 150px;
   height: 150px;
   border-radius: 100%;
}
.aside {
   position: relative;
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 390px;
   background-color: wheat;
   padding: 18px;
}
.contacts-link{
   line-height: 30px
}